<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/reset.css" rel="stylesheet"  type="text/css">
    <link href="../static/css/style.css" rel="stylesheet"  type="text/css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 style="margin-left: 5px;">Чому Шевчук Таша найкраща?</h1>
    </header>
    <main>
        <section>
            <article> 
                <div class="text">
                    <b>
                        Ви запитаєте, чому Таша така особлива? Ну тоді давайте про це поговоримо.<br>
                        По-перше вона моя дівчина а це вже ніфіга собі.<br>
                        По-друге, от просто подивіться на цю прекрасну дівчину<br>
                        <img src="../static/tasha.jpg" style="width:225px; height: 150px;"><br>
                        Якщо у вас досі залишились сумніви то я маю ще декілька аргументів.<br>
                        Так от, третє що я хотів сказати це те що моя Ташуня просто ідеальна, 
                        ну ви просто бачили її очі, волосся лице та й ваще все-все просто прекрасне.<br>
                        Четвертий аргумент це те що вона дуже харизматична, весела, вміє підтримати коли треба і завжди розуміє.
                        А якщо ви зі мною не згодні то ідіть нафіг бо вона в мене найкраща і накпрекрасніша дівчина яка могла тільки бути.
                        Я її сильно люблю!!!!!!!<br>
                        <section class="a">
                            <img src="../static/tasha2.jpg" style="width: 200px;height: 190px;">
                            <article>
                                Її контакти: <br>
                                <a href='https://www.instagram.com/wwx.mi/'><img src="/static/images/insta.png" style="width:60px;height:60px;border-radius: 10px;"></a>
                                <a href="https://web.telegram.org/k/#@wwx_mi24"><img src="/static/images/tg.png"style="width:60px;height:60px;border-radius: 10px;"></a>
                            </article>
                        </section>
                    </b>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Мої контакти:</h2>
            <article>
                <a href='https://www.instagram.com/_kapchyk_/?next=%2F'><img src="/static/images/insta.png" style="width:60px;height:60px;border-radius: 10px;"></a>
                <a href="https://web.telegram.org/k/#@Sashapre228"><img src="/static/images/tg.png"style="width:60px;height:60px;border-radius: 10px;"></a>
            </article>
        </section>  
    </footer>
</body>
</html>